
body, ul, li,p {
    background-color:blanchedalmond;
    margin: 10px;
    padding: 10px;
    text-align: center;
    list-style: none;
    font-size 1.2rem;
    font-family:fantasy; 
}
    


.header, img{
    background-color: blanchedalmond;
    max=width: 100%;
    display: block;
     background:cornsilk;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: auto;

}

 
 h1{
     text-align: center;
     margin-top: 100px;
    font-family: 'Times New Roman', Times, serif;
    -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: rgb(0, 0, 0);
    font-size: 30px; color:rgb(13, 138, 255);

}

img{

max-width: 100%;
display: block;

}

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    max-height: 900px;
    margin: 0 auto;
}
.flex > div{

    flex: 1 1 100px;
    margin: 10px;
}

.flex > div{
    font-family: 'Times New Roman', Times, serif;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: #000;
font-size: 30px; color:snow;

}
 .flex2{
     
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    max-height: 900px;
    margin: 0 auto;
}

.flex2 > div{

    flex: 1 1 100px;
    margin: 10px;
}
.flex2>div{
    font-family: 'Times New Roman', Times, serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-size: 35px; color:snow;

}